<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Chart.js</title>
    <link rel="stylesheet" href="main.css">
</head>
<body>

Max tid gjeldende måned: <%=(new Date(maxtime[0].startTime.toLocaleString())).toLocaleString()%>, Max strømforbruk: <%=maxtime[0].value%> <%=maxtime[0].uom%>
<br/>
Max tid forrige måned: <%=(new Date(maxtime[1].startTime.toLocaleString())).toLocaleString()%>, Max strømforbruk: <%=maxtime[1].value%> <%=maxtime[1].uom%>

<canvas id="myChart" width="800" height="150"></canvas>

<canvas id="myNetPriceChart" width="800" height="150"></canvas>

<canvas id="myChartPrice" width="800" height="100"></canvas>
    
<script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.8.0/Chart.js"></script>
<script>
var ctx = document.getElementById('myChart');
var ctxNetPrice = document.getElementById('myNetPriceChart');
var ctxPrice = document.getElementById('myChartPrice');

var values = [1,2,3,4];
var labels = ['A', 'B', 'C', 'D'];

var valuesFixed = [1,2,3,4];
var valuesVariable = [1,2,3,4];
var labelsPrice = ['A', 'B', 'C', 'D'];

var valuesnetprice = [1,2,3,4];
var labelsNetPrice = ['A', 'B', 'C', 'D'];


<%for(var i = 0; i < meteringpoints.length; i++){

    var timeLabel = meteringpoints[i].endTime.toLocaleString();
    var date = new Date(timeLabel);
    //date = date.getDate() + "-" + date.getHours();
    date = date.toLocaleString();
    %>
    //alert('<%=meteringpoints[i].value%>');
    values[<%=i%>] = <%=meteringpoints[i].value%>;
    labels[<%=i%>] = '<%=date%>';
    <%

}%>

<%for(var i = 0; i < tariffPrice.length; i++){

    var timeLabel = tariffPrice[i].expiredAt.toLocaleString();
    var date = new Date(timeLabel);
    //date = date.getDate() + "-" + date.getHours();
    date = date.toLocaleString();
%>
    //alert('<%=date%>');
    valuesFixed[<%=i%>] = <%=tariffPrice[i].fixedPrices[0].priceLevel[0].total%>;
    valuesVariable[<%=i%>] = <%=tariffPrice[i].variablePrice.total%>;
    labelsPrice[<%=i%>] = '<%=date%>';
<%

}%>

<%
for(var t = 0; t < tariffPrice.length; t++){
    var timetariff = tariffPrice[t].expiredAt.toLocaleString();
    var date = new Date(timetariff);
    date = date.toLocaleString();
    for(var i = 0; i < meteringpoints.length; i++){
        var timeLabel = meteringpoints[i].endTime.toLocaleString();
        if(timetariff == timeLabel){
            var currentPrice = tariffPrice[t].variablePrice.total * meteringpoints[i].value;
            currentPrice = currentPrice + tariffPrice[t].fixedPrices[0].priceLevel[0].total;
            %>
            //alert('<%=currentPrice%>');
            valuesnetprice[<%=i%>] = <%=currentPrice%>;
            labelsNetPrice[<%=i%>] = '<%=date%>';
            <%
        }
    }
}
%>


//alert('<%=meteringpoints.length%>');
var myChart = new Chart(ctx, {
 type: 'bar',
 data: {
    labels: labels,
    datasets: [{
        label: 'Strømforbruk',
        color: "rgba(0,255,0,0.5)",
        fillColor: "rgba(220,220,220,0.5)",
        strokeColor: "rgba(220,220,220,0.8)",
        highlightFill: "rgba(220,220,220,0.75)",
        highlightStroke: "rgba(220,220,220,1)",
        data: values
    }],
    color: "rgba(0,255,0,0.5)"
 },
    color: "rgba(0,220,0,0.5)"
})

var myNetPriceChart = new Chart(ctxNetPrice, {
    type: 'bar',
    data: {
        labels: labelsNetPrice,
        datasets: [{
            label: 'Nettleie',
            color: "rgba(0,255,0,0.5)",
            fillColor: "rgba(220,220,220,0.5)",
            strokeColor: "rgba(220,220,220,0.8)",
            highlightFill: "rgba(220,220,220,0.75)",
            highlightStroke: "rgba(220,220,220,1)",
            data: valuesnetprice
        }],
        color: "rgba(0,255,0,0.5)"
    },
    color: "rgba(0,220,0,0.5)"
})


var myChartPrice = new Chart(ctxPrice, {
    type: 'line',
    data: {
        labels: labelsPrice,
        datasets: [{
            label: 'Strømpris - Fixed',
            color: "rgba(0,255,0,0.5)",
            fillColor: "rgba(220,220,220,0.5)",
            strokeColor: "rgba(220,220,220,0.8)",
            highlightFill: "rgba(220,220,220,0.75)",
            highlightStroke: "rgba(220,220,220,1)",
            data: valuesFixed
        },
            {
                label: 'Strømpris - Variabel',
                color: "rgba(0,255,0,0.5)",
                fillColor: "rgba(220,220,220,0.5)",
                strokeColor: "rgba(220,220,220,0.8)",
                highlightFill: "rgba(220,220,220,0.75)",
                highlightStroke: "rgba(220,220,220,1)",
                data: valuesVariable
            }],
        color: "rgba(0,255,0,0.5)"
    },
    color: "rgba(0,220,0,0.5)"
})
</script>
</body>
</html>
